<div class="our_method-page">
  <div class="container">
    <div class="sixteen columns hero-vid-wrap">
      <%= video_tag 'mars.mp4', autoplay: true, :loop => true, class: 'hero-vid' %>
    </div>
  </div>

  <div class="container">
    <div class="sixteen columns">
      <h1>Dreambear is a full service video and music production company</h1>
    </div>
    <div class="sixteen columns">
      <p class="about-text">dreambear, established in 2011, works with you to craft a message that creatively engages your audience. There is a story behind every company and artist; a unique lens through which people get to know you. In order to tell your story with the greatest impact, dreambear builds a relationship with you that helps us get to know you and understand your goals. Since video and music do not occur in a vacuum, we have the capability to tell your story through live action, animation, music – whatever most effectively delivers your message.  And our relationship does not end with your video or music. We will continue to work with you once your product is complete: through publicity, careful placement, and guidance around marketing.</p>
    </div>
    <div class="twelve columns offset-by-two">
      <h3>We work with an audience of early adopters who want to see a message with heart and authenticity.</h3>
    </div>
    <div class="sixteen columns">
      <p class="about-text">Beyond the statistics, marketing and advertising is about people. People want something that will enhance their lives and make them feel good about what they see and hear. They don't want to be manipulated by a video or sound. They want to see a message with heart and authenticity. If video and music don't stir the emotions, we are doing something wrong. We work with an audience of early adopters who fully understand the necessity for an emotional tone in pictures, music and words. Stories, told well, convert viewers and listeners into passionate fans. </p>
    </div>
    <div class="twelve columns offset-by-two">
      <h3>When we choose to work on a production, we believe in the end goal. We want to see our clients flourish.</h3>
    </div>
    <div class="sixteen columns">
      <p class="about-text">We know that you are entrusting us with the critical job of representing your brand and creating a final product that engages and compels a customer, viewer, or listener to act. Your input is not only heard by dreambear, it is valued. Our collaboration is central to the dreambear process. When we choose to work on a production, we believe in the end goal. We want to see our clients flourish.</p>
    </div>
    <div class="sixteen columns">
      <hr>
    </div>
  </div>

  <div class="container">
    <div class="five columns buzzword">
      <h4>understanding</h4>
      <%= image_tag 'icon-heart.gif' %>
      <p class="buzzword-text">We work closely with our clients to ensure we fully understand the ins and outs of your product, sound, brand, or culture.  Our collective goal is to create the best possible video for you, your company, your band, or your team.</p>
    </div>
    <div class="five columns buzzword">
      <h4>versatility</h4>
      <%= image_tag 'icon-projects.gif' %>
      <p class="buzzword-text">From up and coming indie artists to large-scale corporate commercials, dreambear is positioned to deliver an outstanding, compelling, high-quality product.</p>
    </div>
    <div class="five columns buzzword">
      <h4>dedication</h4>
      <%= image_tag 'icon-video.gif' %>
      <p class="buzzword-text">We are committed to your success and will nurture a relationship that achieves an excellent product and surpasses your goals.</p>
    </div>
  </div>

</div>
