<div class="press">
  <div class="container">
    <div class="sixteen columns hero-vid-wrap">
      <%= video_tag 'press.webm', autoplay: true, :loop => true, class: 'hero-vid' %>
    </div>
  </div>
  <div class="container">
    <div class="sixteen columns">
      <h3><a href="http://www.theverge.com/2014/3/31/5565820/talib-kweli-state-of-grace-video-back-to-new-york-roots/">"THE VIDEO FOR TALIB KWELI'S STATE OF GRACE IS AS DENSE AND LYRICAL AS THE SONG ITSELF. CREATED IN COLLABORATION WITH KWELI AND PRODUCTION COMPANY DREAMBEAR, IT'S PACKED WITH COLOR AND CUSTOM TYPEFACES, THE SONG'S LYRICS APPEARING LIKE GRAFFITI ART DAUBED ON NEW YORK'S IMPOSING BROWNSTONE BUILDINGS."</a></h3>
      <p class="byline">The Verge</p>
    </div>

    <div class="sixteen columns">
      <h3><a href="http://bullettmedia.com/article/premiere-watch-eureka-birds-brilliantly-animated-fastest-video/">"WE ALWAYS FELT LIKE ANIMATION WAS A GOOD FIT FOR OUR SOUND AND WE KNEW DREAMBEAR HAD A TRACK RECORD THERE...EVERYTHING FROM THE CHARACTER DESIGN TO THE COLOR PALETTE JUST FELT RIGHT. IT WAS ONE OF THOSE RARE, TRUE COLLABORATIVE PROCESSES."</a></h3>
      <p class="byline">Eureka Birds, Bullett Magazine</p>
    </div>

    <div class="sixteen columns">
      <h3><a href="http://buzzworthy.mtv.com/2012/03/20/dirty-south-eyes-wide-open-video/">"SERIOUSLY, THE SONG’S EUPHORIC DANCE BEATS WERE ALREADY INSPIRING US TO TRY AND FIND LOVE IN A HOPELESS PLACE. BUT AFTER THIS VIVIDLY RENDERED MONTAGE OF PRETTY PEOPLE DOING PRETTY PEOPLE STUFF? SOMEONE GET US A RUBIK’S CUBE, STAT."</a></h3>
      <p class="byline">MTV: Buzzworthy</p>
    </div>

    <div class="sixteen columns">
      <h3><a href="http://pitchfork.com/reviews/tracks/14823-in-a-dream/">"...'IN A DREAM' IS THE LATEST SINGLE FROM THE RECORD, WITH CAVERNOUS ECHO SURROUNDING THE SWELLING MELODY AND A PARTICULARLY AFFECTING CHORUS."</a></h3>
      <p class="byline">Pitchfork</p>
    </div>

    <div class="sixteen columns">
      <h3><a href="http://www.kickkicksnare.com/2013/02/22/music-video-black-light-dinner-party-we-are-golden/">"BLACK LIGHT DINNER PARTY’S CLIP FOR THEIR NEWEST SINGLE, ‘WE ARE GOLDEN,’ IS THE TYPE OF MUSIC VIDEO THE INTERNET YEARNS FOR! INVENTIVELY ABSURD, ODDLY BEAUTIFUL, AND JUST MASSIVELY ENJOYABLE TO WATCH."</a></h3>
      <p class="byline">Kick Kick Snare</p>
    </div>

    <div class="sixteen columns">
      <h3><a href="http://www.earmilk.com/2013/03/05/earmilk-showcase-doe-paoro/">"THE SESSION IS THE MOST RECENT IN A STRING OF INTIMATE PERFORMANCES THE PRODUCTION COMPANY [DREAMBEAR] HAS PUT TOGETHER IN AN EFFORT TO SHOWCASE THE LITTLE GUYS, OFFERING PROFESSIONALLY MADE PRODUCTS ON A MANAGEABLE PLATFORM."</a></h3>
      <p class="byline">Earmilk</p>
    </div>

    <div class="sixteen columns">
      <h3><a href="http://www.om-records.com/blogs/1332-body-languages-the-first-performed-live">"‘THE FIRST’ IS PART OF A LIVE VIDEO SERIES PRODUCED BY DREAMBEAR, WHO ALSO CREATED THE CRITICALLY ACCLAIMED VIDEO FOR BODY LANGUAGE’S ‘YOU CAN’ EARLIER THIS YEAR."</a></h3>
      <p class="byline">OM Records</p>
    </div>
  </div>
</div>
