<div class="container home-page">
  <div class="ten columns offset-by-three">
    <h1>Dreambear is a contemporary production company based in Brooklyn, New York</h1>
    <p>We create customized videos. We produce, mix and master music. From inception to completion, we work with you to ensure a personalized and collaborative process for a product that is relevant and engaging. <%= link_to 'more', our_method_path, class: 'link' %></p>
  </div>
  <div class="sixteen columns">
    <iframe src="//player.vimeo.com/video/90020533" width="968" height="545" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  <div class="sixteen columns">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ad, tempore nulla esse blanditiis corporis a officia consequatur magni eveniet adipisci quidem earum repellat possimus provident sit. Fugiat, voluptatem, atque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ad, tempore nulla esse blanditiis corporis a officia consequatur magni eveniet adipisci quidem earum repellat possimus provident sit. Fugiat, voluptatem, atque.</p>
  </div>
</div>
