<div class="collection-page">
  <div class="container music-videos">
    <div class="sixteen columns">
      <% @items.each do |item| %>
        <div class="music-video-img-wrap">
          <%= image_tag item.thumbnail.url(:medium), class: 'music_video' %>
          <div class="video-overlay">
            <a href="<%= item.link %>"><%= image_tag 'play-button-overlay.png' %></a>
          </div>
          <div class="description-overlay">
            <p class="music-video-description"><%= item.title %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
