////////////////////////////////////
//////////// VARIABLES /////////////
////////////////////////////////////

$font-stack: 'Montserrate', sans-serif;
$primary-color: #333;
$dreambear-orange: #D16833;

/////////////////////////////////////
////////////// GLOBAL ///////////////
/////////////////////////////////////

body {
  background: url(image_path('background.png'));
  font-family: $font-stack;
}

.nav-section {
  background: url(image_path('background.png'));
  z-index: 10;
  position: fixed;
  top: 0;
  width: 75%;
  left: 50%;
  margin: 0 0 0 -40%;
}

.logo {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 50px;
}

.text-logo {
  display: none;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 25px;
}
  p {
    text-align: center;
  }

nav {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

    li {
      display: inline;
      margin-right: 20px;
    }

    a {
      text-decoration: none;
    }

.link {
  color: $dreambear-orange;
  text-transform: uppercase;
}

.hero-vid-wrap {
  text-align: center;
  overflow: hidden;
}

  .hero-vid {
    width: 100%;
    margin-top: 250px;
  }

///////////////////////////////////
/////////////// HOME //////////////
///////////////////////////////////

.home {
  font-family: $font-stack;
  margin-top: 200px;
}

  h1 {
    color: $dreambear-orange;
    text-transform: uppercase;
    text-align: center;
    font-family: 'refrigerator-deluxe', $font-stack;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2em;
    letter-spacing: 1px;
    font-weight: 300;
    font-style: normal;
    margin: 1.5em 0 .5em;
  }

  p {
    // text-align: justify;
    padding: 0 45px 0 45px;
  }


///////////////////////////////////
////////////// FOOTER /////////////
///////////////////////////////////

.footer {
  margin-top: 25px;
}

.fa {
  margin-right: 5px;
}

.fa-2x {
  transition: font-size .3s;
}

.fa-2x:hover {
  font-size: 3em;
}

.left {
  float: left;
}

.right {
  float: right;
  right: 0;
}
