////////////////////////////////////
//////////// VARIABLES /////////////
////////////////////////////////////

$font-stack: 'Montserrate', sans-serif;
$primary-color: #333;
$dreambear-orange: #D16833;

/////////////////////////////////////
////////////// GLOBAL ///////////////
/////////////////////////////////////

body {
  background: url(image_path('background.png'));
  font-family: $font-stack;
}

.nav-section {
  background: url(image_path('background.png'));
  z-index: 10;
  position: fixed;
  width: 100%;
  top: 0;
  transition: top .5s;
  -webkit-transition: top .5s;
  -moz-transition: top .5;
}

.nav-wrap {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  // width: 100%/px;
  text-align: center;
}

.logo {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 50px;
}

.text-logo {
  display: none;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 25px;
}
  p {
    text-align: center;
  }

nav {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

    li {
      display: inline;
      margin-right: 20px;
    }

      a {
        text-decoration: none;
      }

      a.active {
        color: $dreambear-orange;
      }


.link {
  color: $dreambear-orange;
  text-transform: uppercase;
}

.hero-vid-wrap {
  text-align: center;
  overflow: hidden;
  margin-bottom: 60px;
}

  .hero-vid {
    width: 100%;
    // margin-top: 150px;
  }

///////////////////////////////////
/////////////// HOME //////////////
///////////////////////////////////

.home-page {
  font-family: $font-stack;
  margin-top: 200px;
}

  h1 {
    color: $dreambear-orange;
    text-transform: uppercase;
    text-align: center;
    font-family: 'refrigerator-deluxe', $font-stack;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2em;
    letter-spacing: 1px;
    font-weight: 300;
    font-style: normal;
    margin: 1.5em 0 .5em;
  }

  p {
    // text-align: justify;
    padding: 0 45px 0 45px;
  }


///////////////////////////////////
////////////// FOOTER /////////////
///////////////////////////////////

.footer {
  margin-top: 25px;
}

.fa {
  margin-right: 5px;
}

.fa-2x {
  transition: font-size .3s;
}

.fa-2x:hover {
  font-size: 3em;
}

.left {
  float: left;
}

.right {
  float: right;
  right: 0;
}

///////////////////////////////////
//////////// OUR METHOD ///////////
///////////////////////////////////

.our_method-page {

}

  h1, h3, h4 {
    color: $dreambear-orange;
  }

  h1 {
    margin-bottom: 75px;
  }

  h3 {
    font-style: italic;
    text-align: center;
    font-size: 21px;
    // font-family: "proxima-nova";
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 50px;
  }

  h4 {
    text-transform: uppercase;
    // font-family: 'refrigerator-deluxe';
    font-size: 20px;
    line-height: 1.2em;
    letter-spacing: 1px;
    font-weight: 300;
    font-style: normal;
  }

  p.about-text {
    // font-family: "avenir";
    text-align: justify;
    margin-bottom: 50px;
  }

  .buzzword {
    text-align: center;
  }

///////////////////////////////////
/////////////// PRESS /////////////
///////////////////////////////////

.press-page {
  margin-top: 250px;
}

  h3 {
    color: $dreambear-orange;
    // font-family: 'refrigerator-deluxe';
    font-size: 25px;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: left;
    font-weight: 300;
    font-style: normal;
  }

  h3.testimonial:before, h3.testimonial:after {
    content: '"'
  }

  p.byline:before {
    content: '- ';
  }

  p.byline {
    font-size: 15px;
    text-align: left;
    padding: 0;
  }

  .press-page>a, .press>a:visited {
    text-decoration: none;
    color: $dreambear-orange;
    transition: color .5s;
  }

  .press-page>a:hover {
    color: black;
  }
