<div class="press-page">
  <div class="container">
    <div class="sixteen columns hero-vid-wrap">
      <%= video_tag 'press.webm', autoplay: true, :loop => true, class: 'hero-vid' %>
    </div>
  </div>
  <div class="container">
    <% @testimonials.each do |testimonial| %>
    <div class="sixteen columns">
      <h3 class="testimonial"><a href="<%= testimonial.link %>"><%= testimonial.text %></a></h3>
      <p class="byline"><%= testimonial.commentor %></p>
    </div>
    <% end %>
  </div>
</div>
